@{
 ViewData["Title"] = "Home Page";
}
<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
   
    <hr class="my-4">
    <a asp-area="" asp-controller="Child" asp-action="Mine"
       class="btn btn-primary btn-lg">All Children</a>
    <span> | </span>
    <a asp-area="" asp-controller="Child" asp-action="Add"
       class="btn btn-primary btn-lg">Add Child</a>
    <span> | </span>
    <a asp-area="" asp-controller="Parent" asp-action="IAmParent"
       class="btn btn-primary btn-lg">Add Parent</a>
    <span> | </span>  
    <a asp-area="Admin" asp-controller="User" asp-action="All"
       class="btn btn-primary btn-lg">All Users</a>
    <span> | </span>
    <a asp-area="Admin" asp-controller="Home" asp-action="Get"
       class="btn btn-primary btn-lg">Generate access Code</a>
    
</div>