@{
    ViewData["Title"] = "Error";
}
<h2 class="text-center text-danger">Unexpexted error, please contatact with administrator!</h2>
<div class="text-center h4"> Go back to <a asp-controller="Home" aspaction="Index">Home</a> Page</div>
<div>
<img src="https://freefrontend.com/assets/img/500-error-page-html-templates/HTML-CSS-500-Internal-Error-Page.png" alt="Alternative image" class="img-thumbnail">
</div>
<br />
<br />

